.container {
    background-color: black;
    color: pink;
}

.list-group-item {
    background-color: black;
    border: none;
    color: white;
    margin-bottom: 5px;
}

.list-group-item h5,
.list-group-item p {
    color: pink;
}

.btn-red {
    background-color: rgb(255, 0, 43);
    border: none;
    color: black;
}

.btn-red:hover {
    background-color: #ff85a2;
    color: white;
}

.list-group-item img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 0;
}

/* Additional global styles */
body {
    background-color: black;
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

.typing-demo {
    width: 60ch;
    animation: typing 2s steps(20), step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
    color: green
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
