@media(max-width: 700px) and (min-width: 450px) {
    .artistDetailDivChild {
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(134, 134, 134, 0.338);
        border: 2px solid rgb(155, 155, 155);
        background-color: rgb(32, 32, 32);
        width: 90%;
        min-width: 150px;
    }
    .artistDetailDiv {
        width: 100vw;
        padding: 40px 10px 40px 0;
        display: flex;
        justify-content: center;
    }
}


@media(min-width: 700px) {
    .artistDetailDivChild {
        display: grid;
        grid-template-rows: auto auto 1fr;
        padding: 20px;
        margin: 0;
        width: 95%;
        min-width: 600px;
        box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.338);
        border: 2px solid rgb(155, 155, 155);
        background-color: rgb(32, 32, 32);
    }
    .artistDetailDiv {
        width: 100vw;
        padding: 40px 30px 40px 15px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 450px) {
    .artistDetailDivChild {
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(134, 134, 134, 0.338);
        border: 2px solid rgb(155, 155, 155);
        background-color: rgb(32, 32, 32);
        width: 95%;
        min-width: 150px;
    }
    .artistDetailDiv {
        width: 100vw;
        padding: 40px 10px;
        display: flex;
        justify-content: center;
    }
}


/* ------------------------- */
/* TOP LEVEL GRID ONE */
/* ------------------------- */
.artistDetailDivGridOne {
    height: fit-content;
    padding-bottom: 20px;
}
.artistDetailDivGridOneHeader {
    border-bottom: 2px solid rgb(97, 97, 97);
    font-size: max(calc(30px + 30 * ((100vw - 320px) / (1600 - 320))), 30px);
    font-family: sans-serif;
    text-align: center;
}

.artistDetailDivGridOneHeaderDiv {
    display: flex;
    justify-content: center;
}


.artistDetailDivGridOneDescription {
    text-align: center;
    margin-bottom: 0;
    font-size: calc(10px + (10) * ((100vw - 20px) / (1600 - 320)));
}

.artistDetailDivGridOneDescriptionDiv {
    padding: 10px 30px;
}




/* ------------------------- */
/* TOP LEVEL GRID ONE SHOW MORE BUTTON */
/* ------------------------- */
/* ------------------------------------------------------ */

.showMoreButton {
    background-color: #007bff00;
    color: rgb(72, 72, 72);
    border: none;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 2px;
    border-bottom: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
    cursor: pointer;
}

.showMoreButton:active {
    background-color: rgb(228, 228, 228);
}

.showMoreButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showMoreButtonDiv>.showMoreArrowDown {
    order: 2;
}

.showMoreButtonDiv>.showMoreArrowUp {
    order: 2;
}


.baseButtonArtist {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}


.showMoreArrowDown {
    font-size: 20px;
    margin-top: -10px;
}

.showMoreArrowUp {
    margin-top: -20px;
    font-size: 24px;
    height: fit-content;
}


.showMoreArrowDown:active + .showMoreButton {
    background-color: rgb(228, 228, 228);
}

.showMoreArrowUp:active+.showMoreButton {
    background-color: rgb(228, 228, 228);
}

/* ------------------------------------------------------ */




/* ------------------------- */
/* TOP LEVEL GRID TWO */
/* ------------------------- */


/* BELOW 800PX JAVASCRIPT BUTTONS */
/* ------------------------------------------------------ */

/* END */
/* -------------------------- */




/* ------------------------- */
/* PHOTOS GRID */
/* ------------------------- */

table {
    border-collapse: collapse;
    margin-left: auto;
}


.photoTable {
    width: fit-content;
}
.photoTrAndSizeTr {
    display: flex;

}

.photoTR {
    display: flex;
    flex-direction: column;
}

.photoTdName {
    white-space: nowrap;
}

.artistDetailDivGridTwoUl {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0;
}
.artistDetailDivGridTwoHeader {
    text-align: center;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    font-size: max(calc(25px + 30 * ((100vw - 320px) / (1600 - 320))), 20px);
}

.artistDetailDivGridTwoLi {
    list-style: none;
    border-bottom: 1px solid #ccc;

}

@media(max-width: 700px) {
    .artistDetailDivGridTwo {
        display: flex;
        justify-content: center;
        width: calc(100% + 20px);
        border-top: .5px solid rgb(202, 202, 202);
        border-bottom: .5px solid rgb(202, 202, 202);

    }
    .artistDetailDivGridTwoChild {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(100% + 50px);
        justify-items: center;
    }
}



@media(min-width: 700px) {
    .artistDetailDivGridTwo {
        display: flex;
        justify-content: center;
        margin-left: -10px;
        width: calc(100% + 20px);
        border: .5px solid rgb(134, 134, 134);
        box-shadow: 0px 0px 10px rgba(231, 231, 231, 0.338);
        padding: 20px 0;
    }
    .artistDetailDivGridTwoChild {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4vw;
        width: fit-content;
        justify-items: center;

    }

    .artistDetailDivGridTwoChildTwo {
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: start;

    }

}
/* END */




/* ------------------------- */
/* TOO LEVEL GRID THREE */
/* ------------------------- */


.artistDetailDivGridThree {
    display: flex;
    justify-content: center;
    margin-left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    padding: 20px 0;
}


.artistDetailDivGridThreeChild {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.averageReviewAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.starDiv {
    display: flex;
    margin: 0 0 10px 0;
}

.reviewHeader {
    font-size: calc(24px + (60 - 30) * ((100vw - 320px) / (1600 - 320)));
}
.newReview {
    outline: none;
    border: none;
    padding: 2px 5px;
    margin: 0;
    background-color: transparent;
    border-bottom: 2px solid rgb(135, 135, 135);
    margin: 0 0 7px 0;
}

.newReview:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}
/* END */



/* ------------------------- */
/* Top Level Divs*/
/* ------------------------- */

/* REVIEWS DIV */
/* --------------------------------------------- */
.newReviewDiv {
    display: flex;
    justify-content: left;
    padding-left: 0;
    margin-left: 0;
}

.newReviewForm {
    font-size: 20px;
    border-bottom: 1px solid white;
}

.reviewsShoe {
    padding: .5em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.162);
    margin-bottom: .5em;
}

.reviewsShoeName {
    border-bottom: 1px solid black;
}

.reviewsShoeNameDiv {
    display: flex;
    justify-content: left;
}


.averageReviewAllButton {
    margin-bottom: 1em;
    font-size: 1em;
    max-width: fit-content;
    white-space: nowrap;
    padding: .3em;
    outline: none;
    border: none;
    background-color: transparent;
}

.reviewsShoeDescriptionDiv {
    border: 1px solid rgba(198, 198, 198, 0.413);
    box-shadow: 0px 0px 10px rgba(147, 147, 147, 0.1);
    height: 10vh;
    width: 100%;
}



/* *** PHOTOS *** */
/* Photo */
.photoAndSizesGrid {
    display: grid;
    grid-template-rows: auto auto;
    height: fit-content;
    width: fit-content;
}
.artistPhoto {
    width: calc(100vw / 11);
    height: calc(100vw / 11);
    min-width: 115px;
    min-height: 115px;
}
/* Sizes Div */
.sizesDiv {
    display: flex;
    justify-content: space-between;
}

.sizes {
    font-size: max(calc(5px + 7 * ((100vw - 320px) / (1600 - 320))), 10px);
    color: black;
    font-weight: bold;
    padding: 5px 2px;
}

.artistInfoMainDiv {
    width: fit-content;

}




@media(min-width: 700px) {

.artistGridMainHeadersAlbums {
    text-align: center;
    padding-bottom: 50px;
}

.albumsDiv{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
}

.albumsDivParent {
    display: flex;
    justify-content: center;
}



.artistUL {
    display: grid;
    grid-template-rows: auto auto;
    width: fit-content;
    justify-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.artistUlLiOne {
    padding: 0;
    margin: 0;
    position: relative;
    width: fit-content;
    border: 3px solid rgb(80, 80, 80);
}

.artistUlLiTwo {
    width: calc(100vw / 4);
    text-align: center;
    min-height: 8vh;
}

.albumNameLink {
    text-align: center;
    word-break: break-all;
    min-height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: calc(10px + (10) * ((100vw - 320px) / (1600 - 320)));
}

.albumTitlePhoto {
    width: calc(100vw / 4);
    height: calc(100vw / 4);
    min-width: 150px;
    min-height: 150px;
    opacity: 1;
}

}

.albumTitlePhoto:hover {
    animation: opacityFadeIn .2s ease-in-out forwards;
}



@keyframes opacityFadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .75;
    }

}

@media(max-width: 700px) {

.artistGridMainHeadersAlbums {
    text-align: center;
    padding-bottom: 50px;

}

.albumsDiv{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    column-gap: 15px;
}

.albumsDivParent {
    display: flex;
    justify-content: center;
}


.artistUL {
    display: grid;
    grid-template-rows: auto auto;
    width: fit-content;
    justify-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.artistUlDiv  {
    width: fit-content;
}

.artistUlLiOne {
    padding: 0;
    margin: 0;
    position: relative;
    width: fit-content;
    border: 3px solid rgb(80, 80, 80);
}

.artistUlLiTwo {
    width: calc(100vw / 4);
    text-align: center;
    min-height: 50px;
}

.albumNameLink {
    text-align: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: min(20px, calc(14px + (60 - 40) * ((100vw - 600px) / (2000 - 320))));
    min-height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.albumTitlePhoto {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    min-width: 80px;
    min-height: 80px;
    opacity: 1;
}

}

.albumNameLink:hover {
    color: rgb(149, 149, 253);
}


.artistGridMainHeadersAlbumsDiv {
    margin-bottom: 20px;
}
