/* ------------------------------------- */
/* Static CSS */
.mainSearchedDiv {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    padding: 50px 20px 10px 20px;
    overflow-y: hidden;

}

.mainSearchedDivChild {
    display: grid;
    padding: 2vh 20px 40px 20px;
    width: calc(800px + (200) * ((100vw - 400px) / (1600 - 320)));
    height: auto;
    min-height: 300px;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
    justify-content: space-around;
    grid-template-rows: 1fr;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 10px rgba(113, 113, 113, 0.677);
}

.mainSearchedDivChildNone {
    display: grid;
    padding: 20px 20px 40px 20px;
    width: calc(800px + (300) * ((100vw - 400px) / (1600 - 320)));
    max-width: 73vw;
    height: auto;
    min-height: 100px;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
    justify-content: center;
    grid-template-rows: auto;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 10px rgba(113, 113, 113, 0.677);
}
/* END */
/* ------------------------------------- */



@media(max-width: 600px) {
    .mainSearchedDiv {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-content: center;
        padding: 50px 20px;
    }

    .mainSearchedDivChild {
        display: grid;
        padding: 0 20px 0 20px;
        width: 100%;
        height: fit-content;
        grid-template-columns: auto auto;
        background-color: rgb(32, 32, 32);
    }

    .searchedGridsDiv {
        max-width: 300px;
    }

    .searchedGridsDivChild {
        width: auto;
    }


    /* Button Div */


    /* Name Div */

    .searchedImageDiv {
        width: fit-content;
        height: fit-content;
    }

}


/* ------------------------------------- */
/* For Smaller Screens */
@media (min-width: 600px) and (max-width: 900px) {
    .mainSearchedDiv {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-content: center;
        padding: 50px 20px;
    }
    .mainSearchedDivChild {
        display: grid;
        padding: 0 20px 0 20px;
        width: 100%;
        height: fit-content;
        grid-template-columns: auto auto auto;
        background-color: rgb(32, 32, 32);
    }
    .searchedGridsDiv {
        max-width: 300px;
    }

    .searchedGridsDivChild {
        width: auto;
    }

    /* Button Div */

    /* Name Div */
    .searchedNameDiv {
        width: 80%;
        margin: 0;
        padding: 0;
    }

}
/* END */
/* ------------------------------------- */






/* ------------------------------------- */
/* For Bigger Screens */



/* END */
/* ------------------------------------- */

.searchedButtonDiv {
    display: flex;
    height: fit-content;
    align-items: end;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.searchedButton {
    background-color: transparent;
    position: relative;
    bottom: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.searchedButton:hover {
    color: rgb(149, 149, 253);
}


/* ------------------------------------- */
/* Search Grid */
.searchedGridsDiv {
    height: calc(200px + (100 - 30) * ((100vw - 200px) / (1600 - 520)));
    width: fit-content;
}

.searchedGridsDivChild {
    height: fit-content;
    width: fit-content;
}

.searchedFor {
    font-size: min(40px, calc(20px + (60 - 30) * ((100vw - 600px) / (2000 - 320))));
    color: rgb(255, 255, 255);
}
/* END */
/* ------------------------------------- */






/* ------------------------------------- */
/* Name Div */
.searchedNameDiv {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
    }

.searchedName {
    outline: none;
    border: none;
    background-color: transparent;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: min(20px, calc(14px + (60 - 40) * ((100vw - 600px) / (2000 - 320))));
    margin: 0;
    padding: 0;
    transition: transform .2s ease;
}

.searchedName:hover {
    color: rgb(149, 149, 253);
}


/* END */
/* ------------------------------------- */



.searchedNameAndButtonDiv {
    display: flex;
    align-items: end;
    width: calc(120px + (100 - 30) * ((100vw - 200px) / (1600 - 520)));
    height: calc(20px + (100 - 30) * ((100vw - 200px) / (1600 - 520)));
    justify-content: space-between;
    margin-top: 10px;
    padding: 0;
    min-height: 50px;
}

.loadMoreButton {
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    white-space: nowrap;
    width: 200px;
    transition: transform 0.1s ease;
}

.loadMoreButton:active {
    transform: scale(0.92);
    border: 2px solid rgb(149, 149, 253);
    color: rgb(149, 149, 253);
    font-weight: bold;
}



.searchedImage {
    width: calc(125px + (100 - 40) * ((100vw - 200px) / (1600 - 520)));
    height: calc(125px + (100 - 40) * ((100vw - 200px) / (1600 - 520)));
    transition:
    transform .6s ease-in-out,
    border-radius .6s ease-in-out,
    box-shadow .6s ease-in-out,
    scale 2s ease-in-out;
    box-shadow: 0 0 0 2px transparent;
    border-radius: 2px;
    position: relative;
    z-index: 3;
}


.searchedNoImage {
     width: calc(125px + (100 - 40) * ((100vw - 200px) / (1600 - 520)));
    height: calc(125px + (100 - 40) * ((100vw - 200px) / (1600 - 520)));
    box-shadow: 0 0 0 2px transparent;
    border-radius: 2px;
    position: relative;
    z-index: 3;
}

.cd {
    width: calc(125px + (100 - 40) * ((100vw - 200px) / (1600 - 520)));
    height: calc(125px + (100 - 40) * ((100vw - 200px) / (1600 - 520)));
    transition:
    transform .3s ease-in-out,
    opacity 1s ease,
    visibility .6s ease-in-out,
    rotate .5s ease
    ;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    animation: spinCounterClockwise 1s linear reverse;
    animation-fill-mode: forwards;
}

.photoSearchDiv:hover .cd {
    z-index: 2;
    opacity: 1;
    visibility: visible;
    animation: spinClockwise 1s linear;
    animation-fill-mode: forwards;
}

@keyframes spinClockwise {
    from { transform: translateX(0%) rotate(0deg); }
    to { transform: translateX(40%) rotate(360deg); }
}

@keyframes spinCounterClockwise {
    from { transform: translateX(0) rotate(-360deg); }
    to { transform: translateX(0%) rotate(0deg); }
}

.photoSearchDiv:hover .searchedImage {
    transform: perspective(2000px) rotateY(3deg) rotateZ(3deg);
    border: 1px solid rgb(255, 255, 255);
}

.photoSearchDiv {
    position: relative;
    width: calc(125px + (100 - 40) * ((100vw - 200px) / (1600 - 520)));
}

    .searchedImageDiv {
    position: relative;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    transition:
    z-index .6s ease,
}

.searchedImageDiv.active {
    z-index: 7;
}
